@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

/* Defined colors
dark blue - #0b3c5d
light blue - #00abf0
aqua blue - #0cccd6
gray - #404040 */

body
{
	color: #404040;
	font-family: Whitney SSm A, Whitney SSm B, Open sans, sans-serif;
	line-height: 1.4;
	margin: 0;
	max-width: 100%;
}

/* Layout */
/* Add box-shadow between nav menu and body content */

.body-container
{
	box-shadow: -2px 0px 2px rgba(227, 222, 217, 0.5);
}

/* Add margin to force scrollbars on menu and content
   to end above the footer */

.sidenav-wrapper,
.body-container
{
	margin-bottom: 3em;
}

/* Remove border between sidenav menu items and quiet the hover behavior */
ul.sidenav li a {
	border-bottom: none;
}

ul.sidenav li a:hover {
    background-color: inherit;
}

/* override Flare 2020r2 height-container min height to
   eliminate scrollbars when not needed */

.height-container
{
	min-height: 0 !important;
}

@media only screen and (max-width: 1279px)
{
	/* Remove left padding so box-shadow doesn't appear when menu is not shown */

	.off-canvas-wrapper-inner .outer-row
	{
		padding-left: 0;
	}

	/* Put the left padding on the content container instead to offset it from the edge */

	.body-container
	{
		padding-left: 1em;
	}
}

/* Navigation menu */

/* Reduce the vertical space between off-canvas menu items from the
   Foundation default */

.menu li a
{
	padding-bottom: 0.2em;
}

/* Set the off-canvas menu item color to white */

ul.menu a
{
	color: #ffffff;
}

/* Set the off-canvas menu item hover color to blue */

ul.menu li > a:hover
{
	color: #00aaf8;
}

/* Keep the off-canvas menu background color defined in Tablet.css even when
   expanding the window past the max tablet width */

.off-canvas
{
	background: #303335;
}

/* Keep the off-canvas submenu toggle button color defined in Tablet.css even
   when expanding the window past the max tablet width */

.is-accordion-submenu-parent > a span.submenu-toggle
{
	border-top-color: #b9bec1;
}

/* Remove border lines between off-canvas menu entries */

ul.off-canvas-list li a
{
	border-bottom: none;
}

/* Set the color of the currently selected off-canvas menu item */

ul.off-canvas-list li > a.selected
{
	color: #00aaf8;
}

/* Accessibility settings */
/* Set the focus outline when using the tab key */

:focus
{
	outline: 2px solid gray;
}

/* Disable the focus outline when using the mouse */

[data-whatinput='mouse'] *:focus
{
	outline: none;
}

/* Search bar */
/* Set the background to dark gray while the placeholder text is shown */

.search-bar.search-bar-container input.search-field:placeholder-shown
{
	background-color: #474747;
}

/* Set the background to white upon hover or text entry */

.search-bar.search-bar-container input.search-field,
.search-bar.search-bar-container input.search-field:hover
{
	background-color: #ffffff;
	transition: background-color .25s;
}

/* To change the search placeholder text color
input.search-field::-webkit-input-placeholder {
  color: white !important;
}*/

/* Specify the submit button icon using the FA magnifying glass */

.search-submit:before
{
	content: "\f002";
	/* fa-search */
	display: inline-block;
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.1em;
	color: #1f1f1f;
}

/* Search results */

/* Set the link and hover color to a dark aqua, but make sure that
   visited links are always a dark purple even when in hover/focus state */

#resultList h3.title a:link
{
	color: #0185D1;
	text-decoration: none;
}

#resultList h3.title a:hover
{
	color: #0185D1;
	text-decoration: underline;
}

#resultList h3.title a:visited
{
	color: #0021c1;
	text-decoration: none;
}

#resultList h3.title a:visited:focus
{
	color: #0021c1;
	text-decoration: none;
}

#resultList h3.title a:visited:hover
{
	color: #0021c1;
	text-decoration: underline;
}



/* Footer */

#footer-area
{
	background-color: #1f1f1f;
	color: #ffffff;
	font-size: 0.8em;
	width: 100%;
	left: 0;
	padding: 1em 2em;
	position: fixed;
	bottom: 0;
}

/* Toolbar */
/* Don't display the "invisible labels" on top of the toolbar buttons (Flare 2019r2) */

.invisible-label
{
	display: none;
}

/* General hyperlink styles */

a:link
{
	font-weight: normal;
	text-decoration: none;
	color: #0572ed;
	/* #00abf0; */
}

a:hover,
MadCap|xref:hover
{
	text-decoration: underline;
}

a:visited
{
	color: #0572ed;
	/* #00abf0; */
}

a.footer,
a.footer:visited
{
	color: #ffffff;
	/* White */
}

/* Breadcrumb styles - the breadcrumbs only become links if there are topics associated with book-level folders */

a.MCBreadcrumbsLink
{
	color: #696969;
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #696969;
}

a.MCBreadcrumbsLink:hover
{
	color: #00abf0;
}

/* Heading styles */

h1
{
	color: #0b3c5d;
	font-weight: bold;
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 0.5em;
	width: 100%;
}

h2
{
	color: #00abf0;
	font-weight: bold;
	font-size: 1.4em;
	margin-top: 1.6em;
	margin-bottom: 0.5em;
}

h3
{
	color: #0cccd6;
	font-weight: bold;
	font-size: 1em;
	margin-top: 1.6em;
	margin-bottom: 0.5em;
}

h4
{
	color: #0b3c5d;
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
	margin-top: 1.2em;
	margin-bottom: 0.5em;
}

/* try not to go this deep */

h5
{
	color: #00abf0;
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 1.2em;
	margin-bottom: 0.5em;
}

h6
{
	color: #0cccd6;
}

/* List styles */

ol,
ul,
dl
{
	line-height: 1.6em;
}

ol
{
	margin-top: 6px;
	margin-bottom: 18px;
	margin-left: 0;
	padding-left: 2em;
	list-style-type: decimal;
}

ol ol
{
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 0;
	list-style-type: lower-alpha;
}

ol ol ol
{
	list-style-type: lower-roman;
}

ul
{
	margin-top: 6px;
	margin-bottom: 18px;
	margin-left: 0;
	padding-left: 2em;
	list-style-type: disc;
}

ul ul,
ol ul
{
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 0;
	list-style-type: circle;
}

ul ul ul
{
	list-style-type: square;
}

ul ul ul ul
{
	list-style-type: disc;
}

ul ul ul ul ul
{
	list-style-type: circle;
}

li,
li p
{
	margin-bottom: 6px;
}

/* Description list styles */

dl.params dt
{
	font-family: monospace;
	color: #4169e1;
	mc-disable-glossary-terms: true;
	margin-bottom: 6px;
	font-weight: normal;
}

dl.faq dt
{
	color: #ff4500;
	mc-disable-glossary-terms: true;
	margin-top: 24px;
	margin-bottom: 6px;
	font-weight: normal;
}

dl.params dd,
dl.faq dd
{
	margin-bottom: 12px;
	margin-left: 20px;
}

/* Breadcrumbs styles */

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	border-top: none;
	font-style: italic;
	margin-bottom: 0;
	margin-left: -17px;
	margin-right: -17px;
	mc-breadcrumbs-prefix: '';
	padding-left: 17px;
	padding-right: 17px;
	font-size: 12px;
	background-color: transparent;
	color: #696969;
	padding-top: 0px;
	padding-bottom: 10px;
}

/* Cross reference styles */

MadCap|xref
{
	mc-format: '{para}';
}

/* Paragraph styles */

p
{
	margin-top: 0;
	margin-bottom: 1em;
	line-height: 1.6em;
}

p + ul,
p + ol
{
	margin-top: -0.5em;
}

/* Code/command styles */

code,
.code
{
	font-family: monospace;
	color: #4169e1;
	mc-disable-glossary-terms: true;
	/* styles needed to override foundation.css code styles */
	padding: 0;
	border: none;
	background-color: transparent;
}

MadCap|codeSnippet
{
	background-color: #f0faff;
	color: #4169e1;
	font-size: inherit;
	border: solid 1px #cacaca;
	border-radius: 3px;
	padding: .5em;
	margin-bottom: 1.4em;
}

MadCap|codeSnippetBody
{
	line-height: inherit;
	padding: .5em 0 0 0;
}

pre.code
{
	margin: 12px 12px 24px 12px;
	border-radius: 3px;
	padding: .5em .5em;
	background-color: #f0faff;
	white-space: pre-wrap;
	word-break: break-all;
	border: 1px solid #cacaca;
	overflow-x: hidden;
	overflow-y: hidden;
}

pre.simple
{
	margin: 0;
	border-radius: 0;
	padding: 0;
	background-color: inherit;
	border: none;
}

code.var,
code .var,
.code .var
{
	font-style: italic;
}

code.var:before,
code .var:before,
.code .var:before
{
	content: '<';
}

code.var:after,
code .var:after,
.code .var:after
{
	content: '>';
}

/* API code styles */

pre .sc
{
	color: #2196f3;
}

pre .ky
{
	font-weight: 700;
}

pre .ind
{
	color: #f44336;
	font-style: italic;
}

pre .arr
{
	color: #ef6c00;
	font-weight: bold;
	font-style: italic;
}

pre .routeVar
{
	color: #9e9e9e;
	font-style: italic;
}

pre .routeVar:before
{
	content: '{';
}

pre .routeVar:after
{
	content: '}';
}

pre .tp
{
	opacity: .65;
	transition: opacity .25s;
}

pre .ky:hover + .tp,
pre .arr:hover + .tp,
pre .ky:hover + * + .tp,
pre .tp:hover
{
	opacity: 1;
}

/* Centered text */

.centerText
{
	text-align: center;
}

/* Indented to second level */

.indentLevel2
{
	margin-left: 18px;
}

/* Indented to third level */

.indentLevel3
{
	margin-left: 36px;
}

/* Indented to fourth level */

.indentLevel4
{
	margin-left: 54px;
}

/* Copyright style */

p.copyright
{
	color: #1765ae;
	font-size: 10px;
	font-style: italic;
}

/* Dropdown hotspot styles */

MadCap|dropDownHotspot:link
{
	color: #0572ed;
	/* #0b3c5d; */
	font-weight: bold;
	font-size: 1em;
	display: flex;
	align-items: center;
	margin: 0;
	transition: color .25s;
}

MadCap|dropDownHotspot:visited,
i.dropdown
{
	color: #0572ed;
}

MadCap|dropDownHotspot:focus
{

}

MadCap|dropDownHotspot:hover
{
	/*color: #ff540f;*/
	color: #ff4500;
}

MadCap|dropDownHotspot,
i.dropdown
{
	font-weight: bold;
}

MadCap|dropDown
{
	mc-closed-image: none;
	/* url('../Images/Icons/DropDownClosedNavy.png'); */
	mc-open-image: none;
	/* url('../Images/Icons/DropDownOpenNavy.png'); */
}

.MCDropDown_Closed,
.MCDropDown_Open
{
	position: relative;
	padding: 0.25em 0 0.25em 0.1em;
	/* background: rgba(0, 0, 0, 0.05); */
	/* box-shadow: inset 0 0 7px -2px rgba(0, 0, 0, 0.62); */
}

.MCDropDown > .MCDropDownHead > .MCDropDownHotSpot:before
{
	display: inline-block;
	font-family: FontAwesome;
	font-size: 1em;
	transform: translateY(-5%);
	transition: transform .25s;
	content: "\f105";
	/* fa-angle-right */
}

.MCDropDown > .MCDropDownHead > .MCDropDownHotSpot > div
{
	/* note that this requires that dropdown hotspot text is enclosed in div tags - use DropDownText.flsnp */
	padding: 0 0 0 0.5em;
}

.MCDropDown_Open > .MCDropDownHead > .MCDropDownHotSpot:before
{
	transform: rotate(90deg) translateY(-5%);
}

div.MCDropDown.dropDown.MCDropDown_Open ul
{
	margin-bottom: 0.25em;
}

/* Expanding text hotspot styles */

a.MCExpandingHead.MCExpandingHotSpot.expandingHead.MCExpandingHotSpot_,
a.MCExpandingHead.MCExpandingHotSpot.expandingHead.MCExpandingHotSpot_.MCHotSpotImage {
    color: inherit;
}

span.MCExpandingBody.expandingBody > p {
	padding-top: 6px;
}

/* Style for list items that are followed by explanatory text to make the item stand out. */

span.listIdentifier
{
	font-weight: bold;
}

/* Styles for text elements
 - file and directory names, commands, and environment variables same as code
 - keystrokes and UI elements like menus, buttons, dialogs
 - emphasis and name of document */

span.filename,
span.command,
span.envvar
{
	font-family: monospace;
	color: #4169e1;
}

span.UIelement,
span.keystroke
{
	font-weight: bold;
}

span.emphasis,
span.document
{
	font-style: italic;
}

span.footnote
{
	vertical-align: super;
	font-size: 8pt;
}

hr.footnote
{
	height: 1px;
	border: none;
	color: #000;
	background-color: #000;
	width: 100%;
	text-align: left;
	margin: 3em auto 0 0;
}

div.footnote
{
	margin-top: 2em;
	padding-top: 1em;
	border-top: 1px solid #cfcfcf;
}

p.footnote
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Relationships styles control the appearance of the "Related Topics" section at the bottom of each topic. It's made to look like an h2 heading level. */

MadCap|relationshipsHeading.concept
{
	display: block;
}

MadCap|relationshipsHeading
{
	color: #63ad23;
	font-size: 18px;
	margin-top: 18px;
	margin-bottom: 4px;
	mc-label: 'Related Topics';
}

MadCap|relationshipsProxy
{
	padding-left: 0;
	padding-top: 0;
	margin-top: 0;
	border-top-width: 0;
	border-top-style: none;
}

MadCap|relationshipsItem
{
	font-size: 12px;
	margin-left: 0;
}

/* Note and Tip styles */

div.note,
div.internalnote,
div.tip
{
	border-radius: 3px;
	border: solid 1px;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	margin-left: 18px;
	margin-right: 18px;
	color: black;
}

div.internalnote,
.internal
{
	background-color: #e3ffff;
}

div.note
{
	background-color: #fef9de;
	/* #fff8d3; */
	/* #fff1a4; */
}

div.tip
{
	background-color: #f3fceb;
	/* #cdf4af; */
}

table.tip,
table.note
{
	margin-top: 0;
	margin-bottom: 0;
}

table.tip tbody,
table.note tbody
{
	background-color: transparent;
	border: inherit;
}

table.tip td,
table.note td
{
	padding: 6px;
	vertical-align: middle;
}

table.tip td:first-child,
table.note td:first-child
{
	width: 48px;
	text-align: center;
}

table.tip td:last-child p:first-child,
table.note td:last-child p:first-child
{
	margin-top: 0;
}

table.tip td:last-child p:last-child,
table.note td:last-child p:last-child
{
	margin-bottom: 0;
	padding-bottom: 0;
}

/* Image styles */

img.inline
{
	margin-bottom: -2px;
	margin-top: 0px;
	margin-left: 0px;
}

img.thumbnail
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 18px;
	mc-thumbnail: hover;
}

img.note,
img.tip
{
	height: 24px;
	width: 24px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
}

div.image
{
	/* 	overflow-x: auto; */
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: 18px;
}

img
{
	max-width: 100%;
}

/* Table styles */

th
{
	background: #ececec;
}

th.h2
{
	color: #00abf0;
	font-weight: bold;
	font-size: 1.4em;
}

table tbody tr:nth-of-type(even)
{
	/*background-color: transparent !important; not sure why this was needed but it kills the even subhead rows */
	background-color: transparent;
}

table.basic
{
	width: auto;
	margin-left: 18px;
	margin-top: 18px;
	margin-bottom: 18px;
	margin-right: 18px;
	border-collapse: collapse;
	table-layout: fixed;
}

/* be aware that the sticky feature partly obscures a bookmarked row when linking to it */
table.sticky thead {
	position: sticky;
	inset-block-start: -1.05em;
}

table.basic > thead > tr > th,
table.basic tr th,
table.basic > tbody > tr > td,
table.basic > tr > td
{
	border: solid 1px #ccc9c9;
	padding: 6px;
	text-align: left;
	word-wrap: break-word;
}

table.basic > thead > tr > th.centerText,
table.basic > tbody > tr > td.centerText
{
	text-align: center;
}

table.basic > thead > tr > th.rightText,
table.basic > tbody > tr > td.rightText
{
	text-align: right;
}

table > tbody > tr.subhead1,
table > tbody > tr.subhead2 {
	font-weight: bold;
}

table > tbody > tr.subhead1 {
    background-color: #0572ed;
}

table > tbody > tr.subhead2 {
	background-color: #e1f6ff;
}

table.basic > tbody > tr > td,
table.basic > tbody > tr > th,
table.basic > tr > td,
table.noborder
{
	vertical-align: top;
}

table.noborder-fullwidth {
    border: none;
    padding-bottom: 1em;
    border-collapse: initial;
	width: 100%;
}

table.noborder-fullwidth th,
table.noborder-fullwidth td
{
	border: none;
	vertical-align: top;
	padding-right: 10px;
	padding-bottom: 6px;
}


table.noborder
{
	border: none;
}

table.noborder > tr > td
{
	padding-bottom: 12px;
}

table.list tbody > tr > td:first-child
{
	font-weight: bold;
}

table.api > tbody > tr > td:first-child,
table.api > tbody > tr > td:nth-child(2)
{
	/* first two columns are args and types */
	font-family: monospace;
	color: #4169e1;
	mc-disable-glossary-terms: true;
}

#table-filter-input {
	width: 50%;
	border-radius: 3px;
	font-size: 1em;
	padding: 12px 20px;
	border: 1px solid #ddd;
	margin: 18px;
}

#table-filter-button {
	border-radius: 3px;
	font-size: 1em;
	color: #00abf0;
	background-color: white;
	padding: 5px;
    border: 1px solid #ddd;
}

#table-filter-button:hover {
	cursor: pointer;
    color: white;
    background-color: #00abf0;
}

a.back-to-top
{
	float: right;
}

table td.checkCol,
table.basic > tbody > tr > td.checkCol
{
	text-align: center;
}

table td.na
{
	/* cell colored to indicate not applicable */
	background-color: #f6f6f6;
}

table td.nowrap,
code.nowrap
{
	white-space: nowrap;
}

table td ul:first-child,
table td ol:first-child,
table > tr > td > p
{
	margin-top: 0;
}

td > p + table
{
	margin-top: -0.5rem;
}

table td ul,
table td ol
{
	margin-bottom: 6px;
}

table td ul li,
table td ol li,
table td p:last-child,
table td ul:last-child,
table td ol:last-child,
td > table:last-child
{
	margin-bottom: 0;
}

table td div.note:last-child
{
	margin-bottom: 0.5em;
}

/* simple enum table where no description is needed, but long lists of enums can be split up into lists in multiple columns */

table.enum
{
	width: auto;
	padding: 0 0 0 12px;
}

table.enum th
{
	text-align: left;
}

table.enum td
{
	font-family: monospace;
	color: #4169e1;
	mc-disable-glossary-terms: true;
}

table.enum ul
{
	list-style: none;
	margin: 0;
	padding: 0 12px 0 0;
}

/* enumdesc table with description has two columns, first for enum value, second for description */
/* codelist table where first column contains some kind of "code" entry */
/* operator table where second column lists valid operators */
/* config table where the first 3 columns are option, arg, default, and the last is description */

table.enumdesc
{
	width: auto;
	margin: 0;
	padding: 0.5em 0 0 12px;
}

table.enumdesc td:first-child,
table.codelist td:first-child,
table.operator td:nth-child(2),
table.config td:nth-child(-n+3)
{
	font-family: monospace;
	color: #4169e1;
	mc-disable-glossary-terms: true;
}

table.enum tbody td,
table.noborder.enumdesc tbody td
{
	padding-top: 0;
	padidng-bottom: 0;
}

/* table where first column contains some kind of "code" style entry and remaining columns describe or provide other details */

table.codelist > td:first-child
{
	width: auto;
}

/* table where first column is parameter, second column is default value, and subsequent columns are required, description, ... */

table.params td:first-child,
table.params td:nth-child(2)
{
	width: auto;
	font-family: monospace;
	color: #4169e1;
	mc-disable-glossary-terms: true;
}

/* glossary table - currently not used */

/*table.glossary
{
	border: none;
}

table.glossary td:first-child
{
	font-weight: bold;
	white-space: nowrap;
}

table.glossary td
{
	vertical-align: top;
	padding: 10px;
	mc-disable-glossary-terms: true;
}
*/

table.noborder
{
	width: auto;
	border: none;
	border-collapse: initial;
	/* override foundation setting */
}

table.noborder th,
table.noborder td
{
	border: none;
	vertical-align: top;
	padding-right: 10px;
	padding-bottom: 6px;
}

div.table
{
	padding-right: 36px;
	margin-top: 6px;
	margin-left: 18px;
	margin-bottom: 18px;
}

div.scroll
{
	overflow: scroll;
}

/* Colors for background/text highlighting */

.highlight
{
	background-color: yellow;
}

.required
{
	background-color: #d7fed3;
}

.primary
{
	font-weight: bold;
}

.red
{
	color: #ff0000;
}

.blue
{
	color: #0000ff;
}

.green
{
	color: #00ff00;
}

.orangered
{
	color: #ff4500;
}

.goldenrod
{
	color: #ffc125;
	// #ff8c00;
}

.lightslateblue
{
	color: #8470ff;
}

.darkslateblue
{
	color: #483d8b;
}

.darkolivegreen
{
	color: #6e8b3d;
}

.darkgreen
{
	color: #228b22;
}

.brown
{
	color: #8b4513;
}

.lightblue
{
	color: #00abf0;
}

/* color: #76963e; */
/* div for hidden author comments */

div.authornote
{
	color: #3a8000;
}

/* styles for search highlight */

span.SearchHighlight1
{
	mc-hidden: unhidden;
	background-color: #ffff66;
}

span.SearchHighlight2
{
	mc-hidden: unhidden;
	background-color: #A0FFFF;
}

span.SearchHighlight3
{
	mc-hidden: unhidden;
	background-color: #99FF99;
}

span.SearchHighlight4
{
	mc-hidden: unhidden;
	background-color: #B5BEFF;
}

span.SearchHighlight5
{
	mc-hidden: unhidden;
	background-color: #fbc5fb;
}

span.SearchHighlight6
{
	mc-hidden: unhidden;
	background-color: #D0B296;
}

span.SearchHighlight7
{
	mc-hidden: unhidden;
	background-color: #C6D076;
}

span.SearchHighlight8
{
	mc-hidden: unhidden;
	background-color: #FFA574;
}

span.SearchHighlight9
{
	mc-hidden: unhidden;
	background-color: #9DB1D6;
}

span.SearchHighlight10
{
	mc-hidden: unhidden;
	background-color: #FFD285;
}

span.SearchHighlight
{
	mc-hidden: unhidden;
}

/* Glossary styles */

.noglossary
{
	mc-disable-glossary-terms: true;
}

MadCap|glossaryTerm
{
	mc-closed-image: none;
	mc-open-image: none;
	font-weight: inherit;
	color: inherit;
}

a.MCTextPopup
{
	font-weight: inherit;
	color: #404040;
	background-image: none;
	padding: 0;
	border-bottom: dotted 1px #0572ed;
}

.MCTextPopup_Closed.MCTextPopupHotSpot_.MCTextPopupHotSpot_Popup,
.MCTextPopup_Open.MCTextPopupHotSpot_.MCTextPopupHotSpot_Popup
{
	background-image: none;
	padding: 0;
}

a.MCTextPopup:hover
{
	text-decoration: none;
}

.MCTextPopupBody
{
	/* These styles apply to the (glossary term) popup windows. */
	color: #1f1f1f;
	/* #0b3c5d; */
	background-color: #f4f4f4;
	width: 40%;
	overflow-y: visible;
}

.MCTextPopupBodyBottom .MCTextPopupArrow {
    border-top-color: #0572ed;
}

.MCTextPopupArrow {
    border-bottom-color: #0572ed;
}

MadCap|glossaryProxy
{
	border-top: none;
}

li.GlossaryPageEntry	/* Required to suppress bullets in HTML5 Target */
{
	list-style-type: none;
}

a.GlossaryPageLink,
a.GlossaryPageLink:hover
{
	color: inherit;
	text-decoration: none;
	cursor: inherit;
}

div.GlossaryPageTerm
{
	color: #00abf0;
}

div.GlossaryPageDefinition
{
	padding-left: 17px;
	padding-bottom: 12px;
}

div.equation
{
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	margin-left: 18px;
}

@media print
{
	/* avoid hyphenating generally, and force long hex strings to break via the word-break setting without hyphenation */

	p,
	pre.code,
	code,
	li,
	td,
	tr td ul li
	{
		mc-hyphenate: never;
	}

	/* include only h1 and h2 heading levels in the TOC */

	h3,
	h4,
	h5,
	h6
	{
		mc-heading-level: 0;
	}

	/* leave headings on the title and TOC pages out of the printed TOC */

	.notoc
	{
		mc-heading-level: 0;
	}

	h1.title
	{
		color: #0b3c5d;
		font-weight: bold;
		font-size: 2em;
		line-height: 2em;
		margin-top: 0;
		margin-bottom: 0.5em;
		width: 100%;
		text-align: right;
		mc-hyphenate: never;
	}

	h2.subtitle
	{
		text-align: right;
		mc-hyphenate: never;
		margin-top: 0;
		margin-bottom: 2em;
	}

	/* for print, heading levels get pushed down by TOC nesting */

	h5
	{
		font-size: 0.8em;
		font-weight: bold;
		margin-top: 1.2em;
		margin-bottom: .4em;
	}

	p.version,
	p.date
	{
		color: #0b3c5d;
		font-weight: bold;
		font-size: 1em;
		line-height: 1em;
		margin-top: 2em;
		width: 100%;
		text-align: right;
	}

	p.header,
	p.footer
	{
		font-family: Whitney SSm A, Whitney SSm B, Open sans, sans-serif;
		font-size: 1em;
		margin: 0;
		padding: 0;
	}

	/* leave some space between the heading on the TOC page and the actual TOC, and get rid of the border between them */

	MadCap|tocProxy
	{
		margin-top: 2em;
		border: none 0px;
	}

	div.sideMenu
	{
		display: none;
	}

	MadCap|glossaryTerm
	{
		border-bottom: none;
	}

	div.image.wide
	{
		margin-left: 0;
	}

	img
	{
		max-width: 6.50in;
	}
}
