/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

/*===========================================================================================================================================================

Hello! If this is your first time looking at a stylesheet within the text editor view, what you are reading right now is a "comment". Comments are added throughout this stylesheet with the purpose of making the source code easier to understand, comments will not be interpreted during the compile process. Since comments are not interpreted during the compile process, feel free to add or remove any comments.

For help with MadCap Flare go to Help Ribbon > Topics Section > Open Help. Alternatively visit the Flare Online Help at help.madcapsoftware.com

If you have any questions regarding how to work with this stylesheet or template project, please contact MadCap Technical Support. 
https://www.madcapsoftware.com/support/contact-options.aspx

===========================================================================================================================================================*/

/*== Home Page General Styles ==*/

@font-face 
{
	font-family: "Tenon";
	src: url("../Fonts/Tenon Regular.ttf");
}

a:link
{
	color: #000000;
	text-decoration: none;
}

a:visited
{
	color: #000000;
	text-decoration: none;
}

a:hover
{
	color: #000000;
	text-decoration: none;
}

div.home-tiles a:hover	/*Complex Selector: When hovering over links within the home tiles the following properties will apply.*/
{
	color: #d3d3d3;
}

a.footer1:link
{
	color: #1C5298;
	text-decoration: none;
	margin-right: 30px;
}

a.footer1:link
{
	color: #0572ed;
	text-decoration: none;
	margin-left: 10px;
}

a.footer1:visited
{
	color: #1C5298;
	text-decoration: none;
}

a.footer1:visited
{
	color: #0572ed;
	text-decoration: none;
}

a.footer1:hover
{
	color: #1C5298;
	text-decoration: none;
}

a.footer1:hover
{
	color: #0572ed;
	text-decoration: none;
}

a.footer1last:link
{
	margin-left: 0px;
	color: #1C5298;
	text-decoration: none;
}

a.footer1last:link
{
	margin-left: 10px;
	color: #0572ed;
	text-decoration: none;
}

a.footer1last:visited
{
	color: #1C5298;
	text-decoration: none;
}

a.footer1last:visited
{
	color: #0572ed;
	text-decoration: none;
}

a.footer2:link
{
	color: #636363;
	text-decoration: none;
	margin-left: 22px;
}

a.footer2:link
{
	color: #636363;
	text-decoration: none;
	margin-left: 10px;
}

a.footer2:visited
{
	color: #636363;
	text-decoration: none;
}

a.footer2:visited
{
	color: #636363;
	text-decoration: none;
}

a.footer2:hover
{
	color: #636363;
	text-decoration: none;
}

a.footer2:hover
{
	color: #636363;
	text-decoration: none;
}

body
{
	font-family: 'Tenon';
	line-height: 1.5em;
	background-color: #ffffff;
}

p
{
	font-size: 0.9em;
	line-height: 1em;
	margin-top: 0pt;
	margin-bottom: 9px;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

p.hero
{
	font-size: 1em;
	line-height: 1.2em;
	margin-top: 0pt;
	margin-bottom: 9px;
	margin-left: 15%;
	margin-right: 15%;
	text-align: justify;
}

/*Removes side navigation from the home page */

nav.sidenav-wrapper
{
	display: none !important;
}

/*Removes title bar from the home page */

nav.title-bar
{
	display: none !important;
}

/*== Home header bar styles ==*/

.inner-wrap .tab-bar .nav-search	/*Prevents the search in the header from appearing on the home page*/
{
	display: none !important;
}

.inner-wrap .main-section > .outer-row
{
	max-width: 100%;
	padding: 0;
}

/*creates the shadow effect in the header */

.title-bar-container
{
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	display: none;
}

.title-bar-layout a.logo
{
	display: none;
}

/*== home page masterpage styles ==*/

div.home-container	/*wraps the content on the home page*/
{
	/*	margin-left: 20%;
	width: 80%;*/
	padding-bottom: 8%;
}

div.height-container
{
	padding-bottom: 0px;
}

.body-container
{
	padding: 0 !important;
	/*Overrides padding set in the skin*/
}

/*== Home Page Topic Hero section ==*/

div.topic-hero
{
	background-size: cover;
	width: 100%;
	text-align: center;
	position: relative;
	padding-top: 40px;
	top: 0;
	height: auto;
	padding-bottom: 40px;
	background-color: #001649;
	background-image: url('../Images/ib-topic-hero-2.jpg');
}

h1
{
	font-size: 3.6em;
	margin-bottom: 0.5em;
	line-height: 100%;
	color: #0572ed;
}

h2
{
	font-size: 1.8em;
	line-height: 100%;
	color: #001649;
	font-family: 'Tenon';
}

h2.home-header
{
	font-family: "Tenon";
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	color: #fff;
	text-align: center;
	margin-bottom: 25px;
	padding-left: 10%;
	padding-right: 10%;
}

.search,
.search-bar
{
	margin: 0 auto;
	width: 400px;
}

.search-bar._Skins_SearchHome.mc-component
{
	width: 400px;
}

.search-bar._Skins_SearchHome.mc-component .search-field,
.search-bar.search-bar-container._Skins_SearchHome.mc-component .search-submit
{
	border-radius: 6px;
}

div.search-home
{
	width: 70%;
	margin-left: auto;
	margin-bottom: 5%;
	margin-right: auto;
	padding: 0;
}

/*== Home-tiles section ==*/

div.home-tiles	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	background-color: #1C5298;
	margin-bottom: 3%;
	overflow: hidden;
	padding: 2%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-tiles > div:nth-child(1)
{
	width: 33%;
	margin-left: 0%;
}

div.home-tiles > div:nth-child(2)
{
	width: 33%;
	margin-left: 4%;
}

div.home-tiles > div:nth-child(3)
{
	width: 70%;
	margin-left: 0%;
	padding-top: 5%;
}

/*== Elements for text contained within each home-tile ==*/

p.tile-title
{
	color: #fff;
	margin-top: 0px;
	font-size: 1.3em;
	font-weight: bold;
}

p.tile-content
{
	color: #ffffff;
}

p.tile-button
{
	margin-top: 8px;
	float: right;
	margin-right: 8px;
}

div.home-tiles a	/*Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	color: #fff;
}

div.home-tiles > div:hover
{
	box-shadow: 0 12px 18px rgba(0,0,0,0.16), 0 12px 18px rgba(0,0,0,0.23);
	transform: scale(1.00);
}

td.home-tiles-hover
{
	box-shadow: 0 12px 18px rgba(0,0,0,0.16), 0 12px 18px rgba(0,0,0,0.23);
	transform: scale(1.00);
}

/*a:hover
{
	
	box-shadow: 10px 10px 10px rgba(0,0,0,0.16), 0 12px 18px rgba(0,0,0,0.23);
	transform: scale(1.2);

	box-shadow: 3px 3px red, -1em 0 .4em olive;
}
*/

/*== Home Page Footer ==*/

div.home-footer
{
	background-color: #ffffff;
	padding: 1% 5%;
	margin-top: 5%;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: #D6D6D6;
	border-top-style: solid;
	border-top-width: 1px;
}

p.footer1
{
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 13pt;
	color: #1C5298;
	font-size: 16px;
	font-family: 'Tenon';
	font-weight: 500;
	font-style: normal;
}

p.footer2
{
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 13pt;
	color: #636363;
	font-size: 14px;
	font-family: 'Tenon';
	font-weight: 400;
	font-style: normal;
}

div.home-page-tiles	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.home-page-tiles img
{
	width: 100%;
}

div.home-page-tiles::before
{
	content: ' ';
	display: table;
}

div.home-page-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-page-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: transparent;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	/*Adds transition animation when switching between screen sizes*/
}

div.home-page-tiles > div:nth-child(1)
{
	width: 18%;
	margin-left: 21%;
}

div.home-page-tiles > div:nth-child(2)
{
	width: 18%;
	margin-left: 2%;
}

div.home-page-tiles > div:nth-child(3)
{
	width: 18%;
	margin-left: 2%;
}

/*footer styling*/

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media only screen and (max-width: 1100px)
{
	div.home-container
	{
		width: 100%;
		margin-left: 0%;
	}

	div.search-home
	{
		margin-left: auto;
		width: 90%;
	}

	div.home-tiles > div:nth-child(1)
	{
		margin-left: 0%;
		height: auto;
		width: 42.5%;
	}

	div.home-tiles > div:nth-child(2)
	{
		height: auto;
		width: 42.5%;
		margin-left: 5%;
	}

	div.home-tiles > div:nth-child(3)
	{
		margin-left: 0%;
		width: 90%;
	}

	div.footer
	{
		padding-top: 10px;
	}

	div.home-page-tiles > div:nth-child(1)
	{
		width: 25%;
		margin-left: 11%;
	}

	div.home-page-tiles > div:nth-child(2)
	{
		width: 25%;
		margin-left: 2%;
	}

	div.home-page-tiles > div:nth-child(3)
	{
		width: 25%;
		margin-left: 2%;
	}
}

@media only screen and (max-width: 600px)
{
	h1
	{
		font-size: 2.4em;
	}

	h2
	{
		font-size: 1.2em;
	}

	div.topic-hero
	{
		text-align: center;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	div.home-container
	{
		width: 100%;
		margin-left: 0;
	}

	div.search-home
	{
		width: 80%;
		margin-left: auto;
	}

	div.home-tiles-container
	{
		padding-bottom: 0;
	}

	div.home-tiles > div
	{
		padding: 5%;
		margin-top: 2%;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 80%;
		margin-left: 10%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 80%;
		margin-left: 10%;
	}

	div.home-tiles > div:nth-child(3)
	{
		width: 80%;
		margin-left: 10%;
	}

	div.home-master-page-footer > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-master-page-footer > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-master-page-footer > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-page-tiles > div:nth-child(1)
	{
		width: 80%;
		margin-left: 10.5%;
	}

	div.home-page-tiles > div:nth-child(2)
	{
		width: 80%;
		margin-left: 10.5%;
	}

	div.home-page-tiles > div:nth-child(3)
	{
		width: 80%;
		margin-left: 10.5%;
	}

	a.footer1:link
	{
		margin-right: 5px;
		font-size: 10px;
	}

	a.footer1last:link
	{
		font-size: 10px;
	}

	a.footer2:link
	{
		margin-left: 9px;
		font-size: 10px;
	}

	.right-align
	{
		margin-right: 5px;
	}

	.right-align-2
	{
		width: 62%;
		bottom: 24px;
	}

	.search,
	.search-bar,
	.search-bar._Skins_SearchHome.mc-component
	{
		width: 250px;
	}

	.modal
	{
		width: 85%;
	}

	.button-container
	{
		margin-left: 0%;
		margin-right: 0%;
	}
}

/* Buttons & Modals Start */
/* Style for the main page content */

.main-content
{
	margin: 1% 15% 1% 15%;
	padding-bottom: 4%;
}

/* Style for the modal overlay */

.overlay
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

/* Style for the modal content */

.modal
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #333;
	width: 40%;
}

/* Style for the close button */

.close-button
{
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

/* The button container */

.button-container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 10%;
	margin-right: 10%;
}

/* The individual buttons */

.button-card
{
	background-color: #ffffff;
	border: none;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 5%;
	display: block;
	width: 30%;
	margin: 10px;
	text-align: center;
	padding: 10px;
	color: #001649;
}

/* Buttons & Modals End */
/* Labels */

.new
{
	background-color: green;
	font-weight: normal;
	animation: animate 1.5s linear infinite;
}

.label
{
	padding: 1px 4px 1px 4px;
	border-radius: 5px;
	color: white;
	/*
@media only screen and (min-width: 2560px) and (max-width: 3400px)

.max-width
{
	max-width: 75%;
}
*/
	/* Footer Start*/
	p: ;
	margin-bottom: 5px;
	line-height: 13pt;
	color: #ffffff;
	font-size: 12px;
}

/*footer styling*/

.panel,
.panel-holder
{
	margin: 0.5em;
	background: #fff;
	padding: 0.5em;
	border-top: 2px solid #eee;
	height: 60px;
	width: 99%;
	position: absolute;
	bottom: 0;
}

.right-align
{
	position: absolute;
	right: 14px;
	bottom: 20px;
	text-align: right;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #0572ed;
	float: right;
}

.right-align-2
{
	position: absolute;
	right: 14px;
	bottom: 1px;
	text-align: right;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #636363;
	float: right;
}

.left-align
{
	text-align: left;
	width: 80%;
	float: left;
	position: absolute;
	bottom: 5px;
	display: inline-block;
}

.left-align-2
{
	text-align: left;
	float: left;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #636363;
}

/* Footer End*/
/* Custom Grid Start*/
/* Float four columns side by side */

.column
{
	float: left;
	width: 33.3%;
	padding: 10px;
}

/* Remove extra left and right margins, due to padding */

.row
{
	margin: 0 -5px;
}

/* Clear floats after the columns */

.row:after
{
	content: "";
	display: table;
	clear: both;
}

/* Responsive columns */

@media screen and (max-width: 600px)
{
	.column
	{
		width: 100%;
		display: block;
		margin-bottom: 0px;
	}
}

/* Style the counter cards */

.card
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	border-radius: 10px;
	background-color: #f1f1f1;
	cursor: pointer;
}

/* Container Column */

.containerTab
{
	padding: 20px;
	margin: 10px;
	color: #001649;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background: #d3d3d3;
}

/* Closable button inside the container tab */

.closebtn
{
	float: right;
	color: white;
	font-size: 25px;
	cursor: pointer;
}

p.thumbnail
{
	color: #0572ed;
	font-family: 'Tenon';
	font-size: 1em;
	text-align: center;
}

/* Custom Grid End*/

