/*<meta />*/

/*
===============================
    Infinite Blue-specific styles for the Madcap Flare Wysiwyg (XML Editor)]
===============================
*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

@font-face 
{
	font-family: "Tenon";
	src: url("../Fonts/Tenon Regular.ttf");
}

.micro-response-116583033 *
{
	font-family: Tenon;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 *[class~="hi-d/b"]
{
	font-weight: bold;
	font-family: inherit;
}

.micro-response-116583033 *[class~="pr-d/pt"]
{
	display: block;
	font-weight: normal;
	font-family: "Courier New";
}

.micro-response-116583033 *[class~="pr-d/pd"]
{
	display: block;
	margin-left: 2em;
	margin-top: 1em;
}

.micro-response-116583033 *[class~="sw-d/varname"]
{
	font-style: italic;
	font-weight: normal;
	display: inline;
	font-family: "Courier New";
}

.micro-response-116583033 *[outputclass="synmeta"]
{
	font-size: 170%;
	font-family: "Tenon";
}

.micro-response-116583033 *[outputclass="keylabel"]
{
	font-size: 80%;
}

.micro-response-116583033 *[outputclass="shrink"]
{
	font-size: 80%;
}

.micro-response-116583033 *[outputclass="shrink_i"]
{
	font-size: 80%;
}

.micro-response-116583033 *[outputclass="osrestrict"]
{
	display: block;
	font-weight: normal;
	font-family: Tenon;
	color: black;
	margin: 0.3em 0;
}

.micro-response-116583033 *[class~="topic/title"]
{
	display: block;
	font-weight: normal;
	font-family: Tenon;
	background-color: inherit;
	margin: 0.3em 0;
}

.micro-response-116583033 *[class~="required-cleanup"]
{
	color: red;
}

.micro-response-116583033 *[class~="topic/note"]
{
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 0em;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-width: thin;
	border-color: black;
}

.micro-response-116583033 *[class~="topic/note"]:before
{
	content: "Note: ";
	font-weight: bold;
	display: inline;
	margin-left: 0em;
}

.micro-response-116583033 *[class~="topic/note"][type="note"]:before
{
	content: "Note: ";
	font-weight: bold;
	display: inline;
}

.micro-response-116583033 *[class~="topic/note"][type="caution"]:before
{
	content: "Caution: ";
}

.micro-response-116583033 *[class~="topic/note"][type="important"]:before
{
	content: "Important: ";
}

.micro-response-116583033 *[class~="topic/note"][type="tip"]:before
{
	content: "Tip: ";
}

.micro-response-116583033 *[class~="topic/note"][type="warning"]:before
{
	content: "Warning: ";
}

.micro-response-116583033 *[class~="topic/li"]
{
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	display: list-item;
}

.micro-response-116583033 *[class~="topic/keyword"]
{
	display: inline;
	font-weight: normal;
}

.micro-response-116583033 *[class~="sw-d/userinput"]
{
	display: inline;
	font-family: "Courier New";
	font-size: 10pt;
	padding: 0px;
	background-color: transparent;
	color: inherit;
	border: none;
}

.micro-response-116583033 *[class~="pr-d/codeblock"]
{
	display: block;
	white-space: pre;
	margin: 0.8em 0;
	padding: 2px;
	background-color: #e0e0e0;
	color: black;
	border: none;
	font-family: "Courier New";
}

.micro-response-116583033 *[class~="pr-d/codeph"]
{
	display: inline;
	font-family: "Courier New";
}

.micro-response-116583033 *[class~="pr-d/filepath"]
{
	display: inline;
	font-family: "Courier New";
}

.micro-response-116583033 *[class~="sw-d/filepath"]
{
	display: inline;
	font-family: "Courier New";
}

/*
===============================
Making unsupported element display as red
===============================
*/

.micro-response-116583033 *[class~="pr-d/apiname"]
{
	color: red;
}

.micro-response-116583033 *[class~="pr-d/paramname"]
{
	color: red;
}

.micro-response-116583033 *[class~="pr-d/cmdname"]
{
	color: red;
}

.micro-response-116583033 *[class~="sw-d/cmdname"]
{
	color: red;
}

.micro-response-116583033 *[class~="sw-d/cmdname"]
{
	color: red;
}

.micro-response-116583033 *[class~="pr-d/option"]
{
	color: red;
}

.micro-response-116583033 *[class~="pr-d/option"]
{
	color: red;
}

.micro-response-116583033 *[class~="topic/q"]:before
{
	content: "\"";
	color: red;
	background-color: inherit;
}

.micro-response-116583033 *[class~="topic/q"]:after
{
	content: "\"";
	color: red;
	background-color: inherit;
}

.micro-response-116583033 *[class~="pr-d/parmname"]
{
	color: red;
	font-style: normal;
}

.micro-response-116583033 *[class~="pr-d/plentry"][conref] > *
{
	display: none;
}

.micro-response-116583033 *[class~="pr-d/plentry"][conref] > *[class~="pr-d/plentry"]
{
	display: inherit;
}

/*
  ===========================
  Topic elements.
  ===========================
 */

/*
  The <topic> element is the top-level DITA element for
  a single-subject topic or article. Other top-level
  DITA elements that are more content-specific are
  <concept>, <task>, <reference>, and <glossary>.
 */

.micro-response-116583033 *[class~="topic/topic"]
{
	display: block;
	margin: 0.5em 0;
	padding-left: 0.5em;
}

.micro-response-116583033 *[class~="topic/body"]
{
	display: block;
}

.micro-response-116583033 div.NewRowClass1 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 4px;
	padding-right: 4px;
}

.micro-response-116583033 div.NewRowClass1 > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

.micro-response-116583033 div.NewRowClass1 > div:nth-child(2)
{
	width: 33.33333%;
	margin-left: 0%;
}

.micro-response-116583033 div.NewRowClass1 > div:nth-child(3)
{
	width: 33.333%;
	margin-left: 0%;
}

.micro-response-116583033 pre
{
	font-family: monospace;
	text-align: left;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-size: 10pt;
	background: #f5f5f5;
}

.micro-response-116583033 img
{
	mc-hyphenate: never;
	vertical-align: baseline;
	max-width: 100%;
	mc-thumbnail: none;
}

.micro-response-116583033 div:nth-child(2)
{
	text-align: justify;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 code
{
	font-family: monospace;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-size: 11pt;
	color: #696969;
}

.micro-response-116583033 h1
{
	font-style: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #0572ed;
	font-family: 'Tenon';
	font: Tenon;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-size: 2em;
	font-weight: bold;
}

.micro-response-116583033 h2
{
	color: #0572ed;
	font: Tenon;
	font-family: 'Tenon';
	font-style: normal;
	mc-hyphenate: never;
	vertical-align: baseline;
	mc-heading-level: 2;
	font-size: 1.8em;
	font-weight: bold;
}

.micro-response-116583033 h3
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font: Tenon;
	font-family: 'Tenon';
	color: #0572ed;
	mc-heading-level: 3;
	font-size: 1.6em;
	font-weight: bold;
}

.micro-response-116583033 h4
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: 'Tenon';
	mc-heading-level: 0;
	font-size: 1.5em;
	font-weight: bold;
	color: #001649;
}

.micro-response-116583033 h5
{
	mc-heading-level: 0;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-weight: normal;
	font-size: 1.4em;
	font-family: 'Tenon';
	color: #001649;
	font-weight: bold;
}

.micro-response-116583033 h6
{
	mc-heading-level: 0;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: Tenon;
	font-weight: normal;
	font-size: 1.3em;
	color: #001649;
	font-weight: bold;
}

.micro-response-116583033 p.TOC1
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: Tenon;
	font-size: 14pt;
	mc-auto-number-format: '{n}. ';
	mc-auto-number-offset: 2px;
	color: #0572ed;
}

.micro-response-116583033 ::marker
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 ::before
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 ::after
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.mc-variable
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: 'Tenon';
}

.micro-response-116583033 figcaption
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 figure
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 br::before
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 br
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 s
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 button
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 colgroup
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 noframes
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 frameset
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 frame
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 form
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 fieldset
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 style
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 head
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 area
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 map
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 col
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 legend
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 option
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 optgroup
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 datalist
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 q
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 nav
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 header
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 canvas
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 aside
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 article
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 var
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 tt
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 sub
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 strong
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 strike
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 samp
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 u
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: 'Tenon';
}

.micro-response-116583033 small
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 kbd
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 ins
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 i
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 em
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 del
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 cite
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 big
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 b
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: 'Tenon';
}

.micro-response-116583033 acronym
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 abbr
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 dir
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 menu
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 center
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 dd
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 blockquote
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 address
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 caption
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 tfoot
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 tbody
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 thead
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 a.Popup
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 a.MCBreadcrumbsLink
{
	mc-hyphenate: never;
	vertical-align: baseline;
	color: #001649;
}

.micro-response-116583033 a.MCBreadcrumbsPrefix
{
	mc-hyphenate: never;
	vertical-align: baseline;
	color: #001649;
}

.micro-response-116583033 a.MCBreadcrumbsSelf
{
	mc-hyphenate: never;
	vertical-align: baseline;
	color: #001649;
}

.micro-response-116583033 a.MiniTOC1
{
	mc-hyphenate: never;
	vertical-align: baseline;
	color: #001649;
}

.micro-response-116583033 a.MiniTOC1:link
{
	mc-hyphenate: never;
	vertical-align: baseline;
	color: #001649;
}

.micro-response-116583033 a.GlossaryPageTerm
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 a:link
{
	mc-hyphenate: never;
	vertical-align: baseline;
	color: #0572ed;
	text-decoration: none;
	cursor: pointer;
}

.micro-response-116583033 a:visited
{
	mc-hyphenate: never;
	vertical-align: baseline;
	cursor: pointer;
}

.micro-response-116583033 a:focus
{
	mc-hyphenate: never;
	vertical-align: baseline;
	color: #0572ed;
}

.micro-response-116583033 a:hover
{
	mc-hyphenate: never;
	vertical-align: baseline;
	color: #0572ed;
	font-size: ;
}

.micro-response-116583033 a:active
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 a
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: 'Tenon';
	color: #0572ed;
	text-decoration: none;
	cursor: pointer;
}

.micro-response-116583033 hr
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 script
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 object
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 textarea
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 input
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 select
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 codeph
{
	mc-hyphenate: never;
	vertical-align: baseline;
	text-align: left;
}

.micro-response-116583033 dt
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 dl
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 tr
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 ol
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.state
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SeeIndexTerms
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SeeIndex
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SeeAlsoIndexTerms
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SeeAlsoIndex
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SearchHighlight9
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SearchHighlight8
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SearchHighlight7
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SearchHighlight6
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SearchHighlight5
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SearchHighlight4
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SearchHighlight3
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SearchHighlight2
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SearchHighlight10
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SearchHighlight1
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.SearchHighlight
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.boolean
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: 'Tenon';
}

.micro-response-116583033 li::marker
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 html.topic
{
	mc-hyphenate: never;
}

.micro-response-116583033 html
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.TOC9
{
	mc-hyphenate: never;
	vertical-align: baseline;
	mc-heading-level: 0;
}

.micro-response-116583033 p.TOC8
{
	mc-hyphenate: never;
	vertical-align: baseline;
	mc-heading-level: 0;
}

.micro-response-116583033 p.TOC7
{
	mc-hyphenate: never;
	vertical-align: baseline;
	mc-heading-level: 0;
}

.micro-response-116583033 p.TOC6
{
	mc-hyphenate: never;
	vertical-align: baseline;
	mc-heading-level: 0;
	color: #0572ed;
}

.micro-response-116583033 p.TOC5
{
	mc-hyphenate: never;
	vertical-align: baseline;
	mc-heading-level: 0;
	color: #0572ed;
}

.micro-response-116583033 p.TOC4
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: Tenon;
	font-size: 12.5;
	color: #0572ed;
}

.micro-response-116583033 p.TOC3
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: Tenon;
	font-size: 13pt;
	color: #0572ed;
}

.micro-response-116583033 p.TOC2
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: Tenon;
	font-size: 13.5 pt;
	color: #0572ed;
}

.micro-response-116583033 p.ListOf
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.IndexHeading
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.Index9
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.Index8
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.Index7
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.Index5
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.Index4
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.Index3
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.Index2
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.Index1
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.ConceptContext
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.Concept
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.Row-8-4::before
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.Row-8-4::after
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.Row-8-4
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.Row-6-6::before
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.Row-6-6::after
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.Row-6-6
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.Row-4-4-4::before
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.Row-4-4-4::after
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.Row-4-4-4
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.NewRowClass1
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.GlossaryPageTerm
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.GlossaryPageHeading
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.GlossaryPageEntry
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.GlossaryPageDefinition
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div:nth-child(3)
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div:nth-child(1)
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div::before
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div::after
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 *::before
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 *::after
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.Index6
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.MiniTOC1
{
	font-weight: normal;
	display: list-item;
	margin-left: 10pt;
	list-style-type: square;
	list-style-position: outside;
	margin: 5px 0px 5px 10px;
	margin-bottom: 5pt;
	margin-top: 5pt;
	font-style: normal;
	text-decoration: underline;
}

.micro-response-116583033 div.MCMiniTocBox
{
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 15%;
}

.micro-response-116583033 div.MCMiniTocBox_0
{
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 15%;
}

@media screen
{
	.micro-response-116583033 *[class~="topic/topic"]
	{
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.micro-response-116583033 *[class~="topic/body"]
	{
		padding-top: 2px;
		padding-bottom: 2px;
	}
}

/*
  The generic title.
 */

.micro-response-116583033 *[class~="topic/title"]
{
	display: block;
	font-weight: bold;
	background-color: inherit;
	margin: 0.3em 0;
	border-bottom: 1px solid;
}

/*
  Reduce the font size.
 */

.micro-response-116583033 *[class~="topic/topic"] > *[class~="topic/title"]
{
	font-size: 1.8em;
	border-bottom: 1px solid #002244;
}

.micro-response-116583033 * *[class~="topic/topic"] > *[class~="topic/title"]
{
	font-size: 1.6em;
	border-bottom: 1px solid #002244;
}

.micro-response-116583033 * * *[class~="topic/topic"] > *[class~="topic/title"]
{
	font-size: 1.4em;
	border-bottom: none;
}

.micro-response-116583033 * * * *[class~="topic/topic"] > *[class~="topic/title"]
{
	font-size: 1.2em;
}

.micro-response-116583033 * * * * *[class~="topic/topic"] > *[class~="topic/title"]
{
	font-size: 1em;
}

/*
  The alternate title element.
 */

.micro-response-116583033 *[class~="topic/titlealts"]
{
	display: block;
}

.micro-response-116583033 *[class~="topic/section"],
.micro-response-116583033 *[class~="topic/fig"]
{
	margin-top: 12pt;
	display: block;
}

.micro-response-116583033 *[class~="topic/section"] > *[class~="topic/title"],
.micro-response-116583033 *[class~="topic/example"] > *[class~="topic/title"]
{
	display: block;
	font-weight: bold;
	font-size: 16px;
	margin-top: 6pt;
	margin-bottom: 2pt;
}

.micro-response-116583033 h1.concepttitle
{
	font-style: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #0572ed;
	font-family: 'Tenon';
	font: Tenon;
	mc-heading-level: 1;
	font-size: 1.8em;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-weight: bold;
}

.micro-response-116583033 html.concept
{
	font-family: Tenon;
	mc-hyphenate: never;
}

body.conbody.micro-response-116583033
{
	margin-top: 6pt;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p
{
	margin-top: 6pt;
	text-align: justify;
	font-size: 12pt;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: 'Tenon';
}

.micro-response-116583033 table.simpletable
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	border-collapse: collapse;
	margin-top: 12pt;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 td.stentry
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.section
{
	margin-top: 12pt;
	text-align: justify;
	font-size: 10pt;
	mc-hyphenate: never;
	vertical-align: baseline;
	font: Se;
	font-family: 'Tenon';
}

.micro-response-116583033 h2.sectiontitle
{
	font-family: 'Tenon';
	font-style: normal;
	font: Tenon;
	mc-hyphenate: never;
	vertical-align: baseline;
	mc-heading-level: 2;
	font-weight: normal;
	font-size: 1.7em;
	color: #0572ed;
}

.micro-response-116583033 div.fig
{
	margin-top: 12pt;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 ul
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 li
{
	margin-left: 20pt;
	margin-top: 6pt;
	margin-bottom: 2pt;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-size: 12pt;
	font-family: 'Tenon';
}

.micro-response-116583033 span.uicontrol
{
	font-weight: bold;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: 'Tenon';
}

.micro-response-116583033 span.cite
{
	font-style: italic;
	color: red;
	text-decoration: underline;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.wintitle
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-weight: bold;
}

.micro-response-116583033 h1.tasktitle
{
	font-style: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #0572ed;
	font-family: 'Tenon';
	font: Tenon;
	mc-heading-level: 1;
	font-size: 1.8em;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-weight: bold;
}

.micro-response-116583033 html.task
{
	mc-hyphenate: never;
}

body.taskbody.micro-response-116583033
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.context
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 ol.steps
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 li.step
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.cmd
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.stepresult
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: 'Tenon';
}

.micro-response-116583033 div.result
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.note
{
	margin-top: 6pt;
	text-align: justify;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-size: 12pt;
	padding: 10px;
	color: #000000;
	background: #9cc1ff;
	border: solid 0px #9cc1ff;
	border-bottom-width: 1px;
	border-left-color: #ef5b18;
	border-left-width: 3px;
	font-family: 'Tenon';
}

.micro-response-116583033 div.topic-note
{
	margin-top: 6pt;
	text-align: justify;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-size: 12pt;
	padding: 10px;
	color: #ffffff;
	background: #023366;
	border: solid 1px #add8e6;
	border-radius: 10px;
	border-bottom-width: 1px;
	border-left-color: #f37c20;
	border-left-width: 2px;
	border-top-color: #f37c20;
	border-top-width: 2px;
	font-family: 'Tenon';
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.micro-response-116583033 table
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	border-collapse: collapse;
	margin-top: 12pt;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 td
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	text-align: justify;
	border-left-style: solid;
	border-left-width: thin;
	border-left-color: gray;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: gray;
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: gray;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: gray;
	mc-hyphenate: never;
	font-size: 12pt;
	font-family: Tenon;
	padding: 5px;
	vertical-align: baseline;
}

.micro-response-116583033 th
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.userinput
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.draft-comment
{
	background-color: #FF99FF;
	border-left: thin solid black;
	border-right: thin solid black;
	border-top: thin solid black;
	border-bottom: thin solid black;
	margin-top: 6pt;
	margin-bottom: 2pt;
	display: none;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.shortdesc
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.filepath
{
	mc-hyphenate: never;
	vertical-align: baseline;
	text-decoration: underline;
}

.micro-response-116583033 div.info
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.choices
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.choice
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-family: 'Tenon';
}

.micro-response-116583033 ol.substeps
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 ul.substeps
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 li.substep
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.noteWarning
{
	margin-top: 6pt;
}

.micro-response-116583033 div.noteWarning
{
	text-align: justify;
	font-weight: normal;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-size: 12pt;
	padding: 7px;
	border: solid 2px #ff8c00;
	border-radius: 3px;
	font-family: 'Tenon';
}

.micro-response-116583033 div.postreq
{
	text-align: justify;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-size: 12pt;
}

.micro-response-116583033 span.varname
{
	font-family: monospace;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.example
{
	margin-top: 6pt;
	text-align: justify;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 h1.referencetitle
{
	font-style: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #0572ed;
	font-family: 'Tenon';
	font: Tenon;
	mc-heading-level: 1;
	font-size: 1.8em;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-weight: bold;
}

.micro-response-116583033 html.reference
{
	font-family: Tenon;
	mc-hyphenate: never;
}

body.refbody.micro-response-116583033
{
	margin-top: 6pt;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 table.properties
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	border-collapse: collapse;
	margin-top: 12pt;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 tr.property
{
	margin-top: 6pt;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 td.proptype
{
	font-weight: bold;
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 td.propvalue
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	margin-left: 20pt;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.option
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.tabletitle
{
	mc-hyphenate: never;
	vertical-align: baseline;
	font-weight: bold;
	line-height: 14pt;
	text-decoration: underline;
	padding-bottom: 10px;
}

.micro-response-116583033 table.choicetable
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	border-collapse: collapse;
	margin-top: 12pt;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 tr.chrow
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 td.choption
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 td.chdesc
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.prereq
{
	text-align: justify;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-size: 12pt;
}

.micro-response-116583033 sup
{
	vertical-align: super;
	mc-hyphenate: never;
	font-size: 12pt;
}

.micro-response-116583033 span.term
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.menucascade
{
	font-weight: bold;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 pre.lines
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.sectiondiv
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.parml
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 div.plentry
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.pt
{
	font-weight: bold;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.pd
{
	margin-left: 20pt;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-size: 12pt;
}

.micro-response-116583033 div.noteCaution
{
	margin-top: 6pt;
}

.micro-response-116583033 div.noteCaution
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.cmdname
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.parmname
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 dl.sl
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 dt.sli
{
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 span.apiname
{
	font-family: monospace;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 h1.title
{
	font-style: normal;
	font-family: 'Tenon';
	font: Tenon;
	mc-hyphenate: never;
	vertical-align: baseline;
	mc-heading-level: 0;
	font-weight: bold;
	color: #0572ed;
	font-size: 4 em;
}

.micro-response-116583033 p.title
{
	line-height: 15px;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Tenon';
	font-size: 2em;
	font: Tenon;
	text-align: right;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 h2.title
{
	font-family: 'Tenon';
	font-style: normal;
	font: Tenon;
	mc-hyphenate: never;
	vertical-align: baseline;
	mc-heading-level: 0;
	font-weight: bold;
	color: #0572ed;
	font-size: 4em;
}

@media only screen and (max-device-width: 1279px)
{
	.micro-response-116583033 div.NewRowClass1 > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.NewRowClass1 > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.NewRowClass1 > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.welcome_01 > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.welcome_01 > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.welcome_01 > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.welcome_lastrow > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.welcome_lastrow > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.welcome_lastrow > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}
}

@media only screen and (max-device-width: 767px)
{
	.micro-response-116583033 div.NewRowClass1 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.NewRowClass1 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.NewRowClass1 > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.welcome_01 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.welcome_01 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.welcome_01 > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.welcome_lastrow > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.welcome_lastrow > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response-116583033 div.welcome_lastrow > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}
}

.micro-response-116583033 p.codeph
{
	font-family: 'Courier New';
	font-size: 11pt;
	mc-hyphenate: never;
	vertical-align: baseline;
	text-align: left;
}

.micro-response-116583033 codeph.codeph
{
	font-family: monospace;
	font-size: 11pt;
	mc-hyphenate: never;
	vertical-align: baseline;
	color: #696969;
	text-align: left;
}

.micro-response-116583033 table.ibplatform01
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	border-collapse: collapse;
	margin-top: 12pt;
	mc-hyphenate: never;
	vertical-align: baseline;
}

@media print
{
	.micro-response-116583033 h2.sectiontitle
	{
		mc-heading-level: 0;
		font-size: 1.7em;
		color: #0572ed;
		font-weight: bold;
	}

	.micro-response-116583033 h2
	{
		font-size: 1.7em;
		font-weight: bold;
	}

	.micro-response-116583033 h3
	{
		color: #0572ed;
		font-size: 1.6em;
		font-weight: bold;
	}

	.micro-response-116583033 h4
	{
		color: #0572ed;
		font-size: 1.5em;
		font-weight: bold;
	}

	.micro-response-116583033 h5
	{
		color: #0572ed;
		font-size: 1.4em;
		font-family: 'Tenon';
		font-weight: bold;
	}

	.micro-response-116583033 h6
	{
		font-family: 'Tenon';
		color: #0572ed;
		font-size: 1.3em;
		font-weight: bold;
	}

	.micro-response-116583033 span.varname
	{
		font-size: 11pt;
	}

	.micro-response-116583033 code
	{
		font-size: 11pt;
	}

	.micro-response-116583033 h1.title
	{
		mc-heading-level: 0;
	}

	.micro-response-116583033 h1.displayonly
	{
		mc-heading-level: 0;
	}

	.micro-response-116583033 drophead
	{
		font-family: 'Tenon';
		font-size: 1.8em;
	}

	.micro-response-116583033 td
	{
		border-bottom: none 2px #ffffff;
		border: none 2px transparent;
		border-left: none 2px #ffffff;
		border-right: none 2px #ffffff;
		border-top: none 2px #ffffff;
	}
}

.micro-response-116583033 h1.Specialclass
{
	font-size: 1.8em;
	mc-hyphenate: never;
	vertical-align: baseline;
}

.micro-response-116583033 p.h2
{
	font-family: 'Tenon';
	font-size: 18pt;
	font-weight: bold;
	font-style: normal;
	font: Tenon;
	mc-hyphenate: never;
	vertical-align: baseline;
	mc-heading-level: 0;
	color: #0572ed;
}

.micro-response-116583033 div.note-list
{
	margin-top: 6pt;
}

.micro-response-116583033 li.note
{
	margin-left: 20pt;
	margin-top: 6pt;
	margin-bottom: 2pt;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-size: 12pt;
	font-style: italic;
	color: #003366;
}

.micro-response-116583033 h1.displayonly
{
	font-style: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #0572ed;
	font-family: 'Tenon';
	font: Tenon;
	font-size: 1.8em;
	mc-hyphenate: never;
	vertical-align: baseline;
	mc-heading-level: 0;
	font-weight: bold;
}

.micro-response-116583033 table.clear
{
	border-collapse: collapse;
	margin-top: 12pt;
	mc-hyphenate: never;
	width: 100%;
	border-right: solid 1px #ffffff;
	border-left: solid 1px #ffffff;
	border-top: solid 1px #ffffff;
	border-bottom: solid 1px #ffffff;
	padding-left: 10px;
}

.micro-response-116583033 div.MCMiniTocBox,
.micro-response-116583033 div.MCMiniTocBox_0
{
	mc-auto-number-format: 'In this section:';
	mc-auto-number-class: miniTocBoxTitle;
}

.micro-response-116583033 span.miniTocBoxTitle
{
	font-weight: bold;
	font-size: 13pt;
	margin-top: 10px;
	padding: 10px 0px 0px;
}

/*==Master Page Topic Layout==*/

.micro-response-116583033 div.topic-layout	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin: 0 auto;
	background-color: #FFF;
	padding: 0 25px;
	min-height: 85vh;
	margin-top: 15px;
}

.micro-response-116583033 div.topic-layout::before
{
	content: ' ';
	display: table;
}

.micro-response-116583033 div.topic-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

.micro-response-116583033 div.topic-layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.micro-response-116583033 div.topic-layout > div:nth-child(1)
{
	width: 70%;
	margin-left: 2%;
	padding: 20px 10px;
}

.micro-response-116583033 div.topic-layout > div:nth-child(2)	/*Menu Proxy and toolbar container*/
{
	width: 25%;
	margin-left: 0;
	margin-right: 0;
	border-right: solid 0px #d3d3d3;
	padding-right: 20px;
	padding: 25px;
	min-height: 85vh;
	/*ensures that the vertical border line reaches the bottom of the topic container*/
}

/*==Note==*/

.micro-response-116583033 p.note
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #f0f7fb;
	background-image: url('../../Images/icons/note.png');
	background-position: 9px 9px;
	background-repeat: no-repeat;
	border: solid 1px #3498db;
	border-radius: 6px;
	line-height: 18px;
	mc-auto-number-format: '{b}Note: {/b}';
	overflow: hidden;
	padding: 15px 60px;
}

.micro-response-116583033 pre.apiexample
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #f0f7fb;
	background-image: url('../../Images/icons/example.png');
	background-repeat: no-repeat;
	border: solid 1px #3498db;
	border-radius: 6px;
	line-height: 18px;
	overflow: hidden;
	font-family: monospace;
	text-align: left;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-size: 10pt;
	padding-right: 0px;
	background-position: 0.5px;
	padding: 10px 15px 10px 45px;
}

.micro-response-116583033 codeph.codeph-bold
{
	font-family: monospace;
	font-size: 11pt;
	mc-hyphenate: never;
	vertical-align: baseline;
	font-weight: bold;
	text-align: left;
}

.micro-response-116583033 div.home-container	/*wraps the content on the home page*/
{
	margin-left: ;
	width: ;
	padding-bottom: 15%;
	margin-bottom: 10px;
}

.micro-response-116583033 p.Code_Snippet
{
	color: #000;
	font-family: 'Courier New', CourierPS, courier6, Monospace, "Lucida Console" !important;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	text-align: Left;
	text-indent: -1.81rem;
	text-transform: none;
	vertical-align: baseline;
	margin: 0 0 0 1.81rem;
	font-size: 10pt;
}

.micro-response-116583033 p.Code_Snippet_grayed
{
	font-family: 'Courier New', CourierPS, Monospace, "Lucida Console" !important;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	text-align: Left;
	text-transform: none;
	vertical-align: baseline;
	color: #3d3d3d;
	border-radius: 4px;
	overflow: auto;
	padding: 7px;
	background-color: #e9eff2 !important;
	margin: 5px;
	font-size: 10pt;
}

/*==Elements for the left side of Master Page layout==*/

.micro-response-116583033 div.side-menu	/*This is the div that the menu proxy is contained in*/
{
	padding-left: 10px;
	margin-top: 15px;
}

/*Styles that provide the border radius to the menu proxy items*/

.micro-response-116583033 ul.menu._Skins_SideMenu.mc-component li > a.selected
{
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 5px;
}

.micro-response-116583033 ul.menu._Skins_SideMenu.mc-component li > a:hover
{
	background-color: #D9443F;
	border-radius: 5px;
}

.micro-response-116583033 ul.menu._Skins_SideMenu.mc-component ul > li > a:hover
{
	background-color: #D9443F;
	border-radius: 5px;
}

.micro-response-116583033 ul.menu._Skins_SideMenu.mc-component ul ul > li > a:hover
{
	background-color: #D9443F;
	border-radius: 5px;
}

.micro-response-116583033 ul.menu._Skins_SideMenu.mc-component ul ul ul > li > a:hover
{
	background-color: #D9443F;
	border-radius: 5px;
}

.micro-response-116583033 ul.menu._Skins_SideMenu.mc-component ul ul ul ul > li > a:hover
{
	background-color: #D9443F;
	border-radius: 5px;
}

.micro-response-116583033 span.beta
{
	color: #ffffff;
	font-size: 12pt;
	vertical-align: middle;
	text-align: center;
	border-radius: 5px;
	background: #0572ed;
	padding: 1px 4px;
}

/*END/>*/

.micro-response-116583033 .height-container-sidenav
{
	padding-bottom: 0px;
}

/* Footer Start*/

.micro-response-116583033 .footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 2px;
	border-top-color: #001649;
}

.micro-response-116583033 .icons
{
	padding-top: 1rem;
}

.micro-response-116583033 .icons a
{
	text-decoration: none;
	font-size: 2rem;
	margin: 0.5rem;
	color: #f4f4f4;
}

.micro-response-116583033 .twitter-icon,
.micro-response-116583033 .facebook-icon,
.micro-response-116583033 .instagram-icon,
.micro-response-116583033 .linkedin-icon,
.micro-response-116583033 .googleplus-icon,
.micro-response-116583033 .youtube-icon,
.micro-response-116583033 .foursquare-icon
{
	opacity: .8;
	filter: alpha(opacity=80);
	/* For IE8 and earlier */
}

.micro-response-116583033 .twitter-icon:hover,
.micro-response-116583033 .facebook-icon:hover,
.micro-response-116583033 .instagram-icon:hover,
.micro-response-116583033 .linkedin-icon:hover,
.micro-response-116583033 .googleplus-icon:hover,
.micro-response-116583033 .youtube-icon:hover,
.micro-response-116583033 .foursquare-icon:hover
{
	opacity: 1.0;
	filter: alpha(opacity=100);
	/* For IE8 and earlier */
}

.micro-response-116583033 .company-name
{
	
}

@media (max-width: 500px)
{
	.micro-response-116583033 html
	{
		font-size: 50%;
	}
}

@media (min-width: 501px) and (max-width: 768px)
{
	.micro-response-116583033 html
	{
		font-size: 50%;
	}
}

/* Footer End */
/* Begin BUTTONS for Show/Hide ToC  */

.micro-response-116583033 button.toggle-toc-on-button .button-icon,
.micro-response-116583033 button.toggle-toc-off-button .button-icon
{
	background-size: 20px !important;
}

/* End BUTTONS for Show/Hide ToC  */
/*****Start Custom SideNav Styles*****/
/** set vertical scroll bar to be displaying by default **/

/*
nav.sidenav-wrapper
{
	overflow-y: scroll;
}
*/

/** set explicit width for sidenav to prevent moving when the scroll bar displays **/

/*
nav.sidenav-wrapper
{
	width: 480px;
}

ul.sidenav
{
	width: 470px;
	padding-left: 5px;
}
*/

/** removes previous sidenav icons **/

.micro-response-116583033 ul.sidenav span.submenu-toggle
{
	border: none !important;
}

/** adds new sidenav icons for expand/collapse **/

.micro-response-116583033 ul.sidenav span.submenu-toggle-container
{
	background-image: url('../../Resources/Images/side-nav-menu/menu-open.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.micro-response-116583033 ul.sidenav span.submenu-toggle-container[aria-expanded="true"]
{
	background-image: url('../../Resources/Images/side-nav-menu/menu-close.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.micro-response-116583033 ul.sidenav span.submenu-toggle-container:hover
{
	background-image: url('../../Resources/Images/side-nav-menu/menu-open.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.micro-response-116583033 ul.sidenav span.submenu-toggle-container[aria-expanded="true"]:hover
{
	background-image: url('../../Resources/Images/side-nav-menu/menu-close.svg');
	background-repeat: no-repeat;
	background-position: center;
}

/** adds padding to the sidenav to accomodate the new images for top-level TOC entries **/

.micro-response-116583033 ul.sidenav > li > a
{
	padding-left: 30px;
}

.micro-response-116583033 ul.sidenav ul > li > a
{
	padding-left: 30px;
	padding-top: 00.5em;
}

.micro-response-116583033 ul.sidenav ul ul > li > a
{
	padding-left: 40px;
}

/** adds background images to every top-level TOC entry **/

.micro-response-116583033 ul.sidenav > li > a
{
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: left;
}

.micro-response-116583033 ul.sidenav > li:nth-child(1) > a
{
	background-image: url('../../Resources/Images/side-nav-menu/overview.svg');
}

.micro-response-116583033 ul.sidenav > li:nth-child(2) > a
{
	background-image: url('../../Resources/Images/side-nav-menu/start.svg');
}

.micro-response-116583033 ul.sidenav > li:nth-child(3) > a
{
	background-image: url('../../Resources/Images/side-nav-menu/implement.svg');
}

.micro-response-116583033 ul.sidenav > li:nth-child(4) > a
{
	background-image: url('../../Resources/Images/side-nav-menu/sdk.svg');
}

.micro-response-116583033 ul.sidenav > li:nth-child(5) > a
{
	background-image: url('../../Resources/Images/side-nav-menu/api.svg');
}

.micro-response-116583033 ul.sidenav > li:nth-child(6) > a
{
	background-image: url('../../Resources/Images/side-nav-menu/glossary.svg');
}

/** removes bottom border on top-level expanded TOC entries **/

.micro-response-116583033 ul.sidenav > li.tree-node.is-accordion-submenu-parent,
.micro-response-116583033 ul.sidenav > li.tree-node.tree-node-leaf.tree-node-selected
{
	border-bottom: solid 1px #8aa5c8;
}

.micro-response-116583033 ul.sidenav li.tree-node.is-accordion-submenu-parent > a
{
	border-bottom: none !important;
}

.micro-response-116583033 ul.sidenav ul.is-accordion-submenu
{
	padding-bottom: 5px !important;
}

.micro-response-116583033 ul.sidenav li ul li.tree-node.is-accordion-submenu-parent
{
	border-bottom: none;
}

/** End Custom SideNav Styles **/
/* Footer Start*/

.micro-response-116583033 p.footer
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 13pt;
	color: #ffffff;
	font-size: 12px;
}

/*footer styling*/

.micro-response-116583033 .panel,
.micro-response-116583033 .panel-holder
{
	margin: 0.5em;
	background: #fff;
	padding: 0.5em;
	border-top: 2px solid #eee;
	height: 60px;
	width: 99%;
	position: absolute;
	bottom: 0;
}

.micro-response-116583033 .right-align
{
	position: absolute;
	right: 14px;
	bottom: 20px;
	text-align: right;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #0572ed;
	float: right;
}

.micro-response-116583033 .right-align-2
{
	position: absolute;
	right: 14px;
	bottom: 1px;
	text-align: right;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #636363;
	float: right;
}

.micro-response-116583033 .left-align
{
	text-align: left;
	width: 80%;
	float: left;
	position: absolute;
	bottom: 5px;
	display: inline-block;
}

.micro-response-116583033 .left-align-2
{
	text-align: left;
	float: left;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #636363;
}

.micro-response-116583033 a.footer1:link
{
	color: #0572ed;
	text-decoration: none;
	margin-left: 10px;
}

.micro-response-116583033 a.footer1:visited
{
	color: #0572ed;
	text-decoration: none;
}

.micro-response-116583033 a.footer1:hover
{
	color: #0572ed;
	text-decoration: none;
}

.micro-response-116583033 a.footer1last:link
{
	margin-left: 10px;
	color: #0572ed;
	text-decoration: none;
}

.micro-response-116583033 a.footer1last:visited
{
	color: #0572ed;
	text-decoration: none;
}

.micro-response-116583033 a.footer2:link
{
	color: #636363;
	text-decoration: none;
	margin-left: 10px;
}

.micro-response-116583033 a.footer2:visited
{
	color: #636363;
	text-decoration: none;
}

.micro-response-116583033 a.footer2:hover
{
	color: #636363;
	text-decoration: none;
}

/* Footer End*/
/* Remove gap from top of pages*/

.micro-response-116583033 .body-container
{
	padding-top: 0em;
}

